@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .active{
      @apply text-primary;  
      @apply border-primary;
      @apply border-b-2
    }
}



::-webkit-scrollbar {
  width: 12px; /* Adjust width as needed */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Change to your desired track color */
  border-radius: 10px; /* Optional: makes the track rounded */
  
}

/* Scrollbar thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #0287a8; /* Change to your desired thumb color */
  border-radius: 10px; /* Optional: makes the thumb rounded */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00c3c7; /* Change color when hovered */
}
